* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

body {
    background: black;
    width: 100%;
    height: 100vh;
}

.header__superior {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 23px;
}

.header__superior h1 {
    color: white;
}

.search input {
    width: 251px;
    padding: 10px;
    background: white;
}

/* bara menu */
.contaner__superior {
    width: 100%;
    height: 30;
    padding: 10px;
}

.contaner__Menu {
    max-width: 800px;
    margin: auto;
    height: 100%;

}

nav {
    height: 100%;
}

nav>ul {

    height: 100%;
    display: flex;
}

nav>ul>li {

    height: 100%;
    list-style: none;
    margin-right: 100px;

}

nav>ul>li>a {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
    transition: all 300ms ease;

}

nav>ul>li>a:hover {
    transform: scale(1.1);
    color: white;
    background: rgb(35, 52, 211);
    box-shadow: 0px 0px 10px 0px rgb(18, 3, 100);
}

/* Estilos para el contenedor de preguntas */
.preguntas {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

/* Estilos para las etiquetas */
.preguntas label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Estilos para los campos de entrada */
.preguntas input[type="text"],
.preguntas textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


/* Estilos para el botón de envío */
.preguntas input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgba(13, 152, 207, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.preguntas input[type="submit"]:hover {
    background-color: #3508d4;
}

.ubicacion {
    padding: 30px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.inf {
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.inf h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.inf p {
    margin: 20px auto;
    /* Ajustar el margen vertical */
}

.informacionInferior {
    padding: 25px;
    text-align: center;
    color: white;
    /* Centrado del contenido */
}

.informacionInferior ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    /* Elimina los puntos de la lista */
    padding: 0;
}

.informacionInferior li {
    margin-bottom: 20px;
    /* Espacio entre elementos de la lista */
}

.informacionInferior p {
    margin: 11px 0;
    /* Espaciado entre párrafos */
}

.redes {
    display: flex;
    margin-right: 20px;
    color: white;
}

.redes p {
    margin-left: 10px;
}