*{
    background: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
/* header superior */

.header__superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    padding: 15px;
}

.header__superior h1{
    color: black;
}
.search input{
    width: 250px;
    padding: 10px;
    background: white;
}

/* bara menu */
.contaner__superior{
    width: 100%;
    height: 30;
    background: white;
    padding: 10px;
}
.contaner__Menu{
    max-width:  800px;
    margin: auto;
    height: 100%;

}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav> ul > li{
    height: 100%;
    list-style: none;
    margin-right: 100px;
    
}
nav> ul > li> a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
    color:  black;
    transition: all 300ms ease;
    
}
nav> ul > li> a:hover{
    transform: scale(1.1);
    background: rgb(95, 140, 235);
    color: white;
    box-shadow: 0px 0px 10px 0px  rgb(10, 43, 70);
}

.contendorInfo {
    padding: 28px;
    width: 1400px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:1250px  ;

}
.contendorInfo ul{
    display: flex;
    height: 100%;
    margin-left: 40px; /* Ajusta el margen izquierdo para separar del otro elemento */

}

.carrusel{
    width: 600px; 
	margin: 0 auto  ;
    overflow: hidden;
}

.carrusel ul {
	display: flex;
	padding: 0;
	width:700%;
	animation: slide 5s infinite alternate ease-in-out;

}
.carrusel li {
	width: 420px;
	list-style: none;
}

.carrusel img {
	width: 95%;
}

@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    35% {margin-left: -80%;}
    45% {margin-left: -80%;}

    50% {margin-left: -160%;}
    70% {margin-left: -160%;}

    75% {margin-left: -250%;}
    100% {margin-left: -250%;}
}

.informacionTelefono {
    flex: 1;
    margin-left: 20px;
    max-width:600px  ;
}

.informacionTelefono h1 {
    font-size: 24px;
    color: #333;
}

.informacionTelefono h2 {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}

.informacionTelefono p {
    font-size: 16px;
    color: #777;
    margin-top: 10px;
    line-height: 1.5;
}

.informacionTelefono form {
    margin-top: 20px;
}

.informacionTelefono select {
    width: 200px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-top: 10px;
}

.boton_Añadir {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.boton_Añadir:hover {
    background-color: #0056b3;
}

.titulo {
    color: black;
    margin: 30px auto 0px auto; /* Establece el margen superior en 50px, el margen inferior en 20px, y los márgenes izquierdo y derecho a "auto" */
    width: fit-content; /* Ajusta el ancho al contenido */
    text-align: center; /* Centra el texto horizontalmente */
}

.productosRelacionados {
    width: 100%;
    padding: 25px;
    
}

.productosRelacionados ul {
	display: flex;
    padding: 0;
    list-style: none;

}

.productosRelacionados ul li {
    max-width: 250px;
    margin-bottom: 20px;
    padding: 20px;
}
.productosRelacionados ul {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
    justify-content: center; /* Centra los elementos horizontalmente */
    list-style: none;
    padding: 0;
}

.productosRelacionados li {
    margin-right: 40px; /* Espacio entre cada elemento */
    margin-bottom: 20px; /* Espacio entre filas */
    text-align: center; /* Centra el contenido */
    flex: 1 0 30%; /* 30% de ancho, sin crecimiento, sin reducción */
    color: white;
}



.productosRelacionados ul li h3 {
    color: black; /* Color blanco por defecto */
    padding: 8px; /* Añade espacio alrededor del texto */
}


.productosRelacionados ul li:hover .boton_destacados {
    transition: background-color 0.5s ease, color 0.7s ease; /* Transición suave */
    background-color: black; /* Cambia el fondo al hacer hover */
    color: white; /* Cambia el color del texto al hacer hover */
}

.productosRelacionados ul li .boton_destacados {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 11px;
    background-color: transparent; /* Fondo inicial */
    color: inherit; /* Color de texto por defecto */
    border: 2px solid transparent; /* Borde inicial */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transición suave */
}

.informacionInferior {
    padding: 25px;
    text-align: center; /* Centrado del contenido */
}

.informacionInferior ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}

.informacionInferior li {
    margin-bottom: 20px; /* Espacio entre elementos de la lista */
}

.informacionInferior p {
    margin: 11px 0; /* Espaciado entre párrafos */
}

.redes {
    display: flex;
    margin-right: 20px; 
}
.redes p{
margin-left: 10px;
}

.carrusel{
    width: 600px; 
	margin: 0 auto  ;
    overflow: hidden;
}

.carrusel ul {
	display: flex;
	padding: 0;
	width:700%;
	animation: slide 20s infinite alternate ease-in-out;

}
.carrusel li {
	width: 420px;
	list-style: none;
}

.carrusel img {
	width: 95%;
}

@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    35% {margin-left: -80%;}
    45% {margin-left: -80%;}

    50% {margin-left: -160%;}
    70% {margin-left: -160%;}

    75% {margin-left: -250%;}
    100% {margin-left: -250%;}
}
 
 
