* {
    background: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

    text-decoration: none;
}
 
.titulo {
    color: white;
    margin: 21px auto;
    /* Establece los márgenes superior e inferior a 0 y el margen izquierdo y derecho a "auto" */
    width: fit-content;
    /* Ajusta el ancho al contenido */
    text-align: center;
    /* Centra el texto horizontalmente */
}

.header__superior {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: black;
    padding: 4px;
}

.header__superior h1 {
    color: aliceblue;
}

.search input {
    width: 250px;
    padding: 10px;
    background: white;
}

.contaner__superior {
    width: 100%;
    height: 30;
    background: black;
    padding: 10px;
}

.contaner__Menu {
    max-width: 800px;
    margin: auto;
    height: 100%;
}

nav {
    height: 100%;
}

nav>ul {
    height: 100%;
    display: flex;
}

nav>ul>li {
    height: 100%;
    list-style: none;
    margin-right: 100px;

}

nav>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
    color: aliceblue;
    transition: all 300ms ease;

}

nav>ul>li>a:hover {
    transform: scale(1.1);
    background: rgb(27, 206, 230);
    box-shadow: 0px 0px 10px 0px rgb(183, 187, 170);
}

.container {
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    width: 300;
    height: 600;
    max-width: 50%;
    margin: 200px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
}


.container h1 {
    color: #ffffff;
    position: relative;
    text-align: center;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 8px;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 90%;
    outline: none;
    position: relative;
}

.informacionInferior {
    padding: 25px;
    text-align: center;
    /* Centrado del contenido */
}

.informacionInferior ul {
    color: white;
    /* Color del título */
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    /* Elimina los puntos de la lista */
    padding: 0;
}

.informacionInferior li {
    margin-bottom: 20px;
    /* Espacio entre elementos de la lista */
}

.informacionInferior p {
    margin: 11px 0;
    /* Espaciado entre párrafos */
}

.redes {
    display: flex;
    margin-right: 20px;
}

.redes p {
    margin-left: 10px;
} 