
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.header__superior{
    max-width: 1201px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4px;
}

.header__superior h1{
    color: aliceblue;
}
.search input{
    width: 250px;
    padding: 10px;
    background: white;
}

/* bara menu */
.contaner__superior{
    width: 100%;
    height: 30;
    padding: 10px;
}
.contaner__Menu{
    max-width:  800px;
    margin: auto;
    height: 100%;

}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav> ul > li{
    height: 100%;
    list-style: none;
    margin-right: 100px;
    
}
nav> ul > li> a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
    color:  white;
    transition: all 300ms ease;
    
}
nav> ul > li> a:hover{
    transform: scale(1.1);
    background: rgb(4, 107, 224);
    box-shadow: 0px 0px 10px 0px  rgb(3, 15, 126);
}

.titulo {
    color: white;
    margin: 20px auto; /* Establece los márgenes superior e inferior a 0 y el margen izquierdo y derecho a "auto" */
    width: fit-content; /* Ajusta el ancho al contenido */
    text-align: center; /* Centra el texto horizontalmente */
}

.destacados {
    padding: 50px;
    
}

.destacados ul li {
    color:  rgba(0, 0, 0, 0.8);
    max-width: 250px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo inicial */
}
.destacados ul {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
    justify-content: center; /* Centra los elementos horizontalmente */
    list-style: none;
    padding: 0;
}

.destacados li {
    margin-right: 40px; /* Espacio entre cada elemento */
    margin-bottom: 20px; /* Espacio entre filas */
    text-align: center; /* Centra el contenido */
    flex: 1 0 30%; /* 30% de ancho, sin crecimiento, sin reducción */
}


.destacados ul li:hover {
    background-color: white; /* Cambia el fondo al hacer hover */
    color: white; /* Cambia el color del texto al hacer hover */
}
.destacados ul li:hover img  {
    background-color: white;

}
.destacados ul li h3 {
    color: white; /* Color blanco por defecto */
  background-color:  rgba(0, 0, 0, 0.8); /* Fondo negro por defecto */
    padding: 10px; /* Añade espacio alrededor del texto */
}

.destacados ul li:hover h3 {
    background-color:white; /* Cambia el fondo de h3 al hacer hover */
    color: black; /* Cambia el color del texto de h3 al hacer hover */
}

.destacados ul li:hover .boton_destacados {
    transition: background-color 0.5s ease, color 0.7s ease; /* Transición suave */
    background-color: black; /* Cambia el fondo al hacer hover */
    color: white; /* Cambia el color del texto al hacer hover */
}

.destacados ul li .boton_destacados {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: transparent; /* Fondo inicial */
    color: inherit; /* Color de texto por defecto */
    border: 2px solid transparent; /* Borde inicial */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transición suave */
}



.informacionInferior {
    justify-content: space-between;
    padding: 25px;
    text-align: center; /* Centrado del contenido */
}

.informacionInferior ul {
    color: white; /* Color del título */
    display: flex;
    justify-content: space-evenly;
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}

.informacionInferior li {
    margin-bottom: 20px; /* Espacio entre elementos de la lista */
}

.informacionInferior p {
    margin: 11px 0; /* Espaciado entre párrafos */
}
