* {
    background: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

    text-decoration: none;
}

.titulo {
    color: white;
    margin: 21px auto;
    width: fit-content;
    text-align: center;
}

.header__superior {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: black;
    padding: 23px;
}

.header__superior h1 {
    color: aliceblue;
}

.search input {
    width: 250px;
    padding: 10px;
    background: white;
}

.contaner__superior {
    width: 100%;
    height: 30;
    background: black;
    padding: 10px;
}

.contaner__Menu {
    max-width: 800px;
    margin: auto;
    height: 100%;
}

nav {
    height: 100%;
}

nav>ul {
    height: 100%;
    display: flex;
}

nav>ul>li {
    height: 100%;
    list-style: none;
    margin-right: 100px;

}

nav>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
    color: aliceblue;
    transition: all 300ms ease;

}

nav>ul>li>a:hover {
    transform: scale(1.1);
    background: rgb(27, 206, 230);
    box-shadow: 0px 0px 10px 0px rgb(183, 187, 170);
}

.carrusel {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;


}

.carrusel ul {
    display: flex;
    padding: 0;
    width: 320%;
    animation: slide 20s infinite alternate ease-in-out;

}

.carrusel li {
    width: 100%;
    list-style: none;
}

.carrusel img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    35% {
        margin-left: -80%;
    }

    45% {
        margin-left: -80%;
    }

    50% {
        margin-left: -160%;
    }

    70% {
        margin-left: -160%;
    }

    75% {
        margin-left: -250%;
    }

    100% {
        margin-left: -250%;
    }
}

.destacados {
    padding: 50px;

}

.destacados ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.destacados ul li {
    max-width: 250px;
    margin-bottom: 20px;
    margin-right: 40px;
    padding: 20px;
    background-color: black;
    text-align: center;
    flex: 1 0 30%;
}



.destacados ul li:hover {
    background-color: white;
    color: white;
}

.destacados ul li:hover img {
    background-color: white;

}

.destacados ul li h3 {
    color: white;
    background-color: black;
    padding: 10px;
}

.destacados ul li:hover h3 {
    background-color: white;
    color: black;
}

.destacados ul li:hover .boton_destacados {
    transition: background-color 0.5s ease, color 0.7s ease;
    background-color: black;
    color: white;
}

.destacados ul li .boton_destacados {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: transparent;
    color: inherit;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}


.opciones {
    padding: 30px;
    margin: auto;
}

.opciones ul {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en filas */
    justify-content: center;
    /* Centra los elementos horizontalmente */
    list-style: none;
    padding: 0;
}

.opciones li {
    margin-right: 40px;
    /* Espacio entre cada elemento */
    margin-bottom: 20px;
    /* Espacio entre filas */
    text-align: center;
    /* Centra el contenido */
    flex: 1 0 30%;
    /* 30% de ancho, sin crecimiento, sin reducción */
}


.opciones h2 {
    color: aliceblue;
    font-size: 16px;
    /* Tamaño de fuente del título */
    margin-top: 5px;
    /* Margen superior para separar del texto */
}

.informacionInferior {
    padding: 25px;
    text-align: center;
    /* Centrado del contenido */
}

.informacionInferior ul {
    color: white;
    /* Color del título */
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    /* Elimina los puntos de la lista */
    padding: 0;
}

.informacionInferior li {
    margin-bottom: 20px;
    /* Espacio entre elementos de la lista */
}

.informacionInferior p {
    margin: 11px 0;
    /* Espaciado entre párrafos */
}

.redes {
    display: flex;
    margin-right: 20px;
} 

.redes p {
    margin-left: 10px;
}